@charset "UTF-8";

body {
	background-color: rgb(0, 0, 0);
}
.background {
	background-position:top center; 
	background-repeat:no-repeat; 
	background-size:cover;
	opacity: 1.0;
}
.overlay{
	display:block; 
	position:absolute; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	content:""; 
	z-index:-1;
}
.bgtext {
	background-color: black;
	border-top: 1px solid;
	border-bottom: 1px solid;
	/*border-color: white;*/
	margin-top: 50px;
	opacity: 0.60;
}
.bgtitle {
	text-indent: 100px;
	color: white;
	opacity: 1.0;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 40px;
}
a:link, a:visited { 
    color: white;
    text-decoration: none;
    cursor: auto;
    opacity: 1.0;
}
a:hover{
	color: grey;
}
a:visited:active{
	color: blue;
}






