@charset "UTF-8";

body {
	background-color: rgb(0, 0, 0);
}
.background {
	background-position:top center; 
	background-repeat:no-repeat; 
	background-size:cover;
	opacity: 1.0;
}
.overlay{
	display:block; 
	position:absolute; 
	top:0; 
	left:0; 
	width:100%; 
	height: 900px;
}
.bgtext {
	background-color: black;
	border-top: 1px solid;
	border-bottom: 1px solid;
	/*border-color: white;*/
	margin-top: 80px;
	opacity: 0.60;
}
.bgtitle {
	color: orange;
	opacity: 1.0;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 3.5em;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

a:link, a:visited { 
    color: orange;
    text-decoration: none;
    cursor: auto;
    opacity: 1.0;
}
a:hover{
	color: grey;
}
a:visited:active{
	color: blue;
}

.educationRow {
	width: 100%; 
	position: absolute; 
	top: 900px;
	left:0; 
	text-align: left; 
	word-wrap: break-word;
	background: linear-gradient(to bottom, #ffffff, #ece9e6);
	min-height: 350px;
	margin-bottom: 0;
}

.eduItem {
	padding: 0.3em 2em 1em 2em;
	border-left: 2px solid #0E93DB;
	margin-left: 40%;
	margin-top: -2em;
}

.eduItem::before{
	width: 11px;
	height: 11px;
	display: block;
	position: absolute;
	border-radius: 10px;
	content: '';
	border: 2px solid black;
	background: white;
	margin-left: -40.5px;
	top: 7.92em;
}

.edu-time {
	display: block;
	text-align: right;
	margin-right: 62%;
	font-family: "Avenir Next", Helvetica, "Times New Roman", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 1em;
	font-style: normal;
	font-weight: 500;
	margin-top: 55px;
	margin-bottom: 0;
}

.edu-title {
	font-family: Helvetica, "Times New Roman", "Avenir Next", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 2em;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}

.edu-school {
	font-family: Helvetica, "Times New Roman", "Avenir Next";
	font-size: 1.3em;
	line-height: 1.1;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 0;
}

.edu-info {
	color: dimgray;
	font-family: "Avenir Next", Helvetica, "Times New Roman";
	font-size: 1em;
	font-style: oblique;
	font-weight: normal;
	line-height: 1.3;
	word-wrap: break-word;
}

/* Skill */
.skillRow {
	position: absolute;
	background: linear-gradient(to bottom, #243b55, #141e30);
	width: 100%;
	height: 900px;
	margin-top: 1250px;
	margin-left: 0%;
	top: 0;
	left: 0;
}

.skill-title {
	font-family: Helvetica, "Times New Roman", "Avenir Next", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 2em;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: snow;
}

.skill-branch {
	color: #ff9e4d;
	font-family: "Avenir Next", Helvetica, "Times New Roman", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	text-align: center;
	font-size: 1.45em;
	font-weight: 450;
}

.skill-container {
	color: white;
	font-family: "Avenir Next", Helvetica, "Times New Roman", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-weight: 420;
	font-size: 1.05em;
	line-height: 2.0;
	text-align: right;
	margin-right: 70%;
	top: 0;
	bottom: 0;
	margin-bottom: 0;
}

.skill-progress-java {
	margin-top: -9.1em;
}

.skill-java {
	height: 1.06em;
	margin-right: 15%;
}

.skill-progress-c {
	margin-top: 1.06em;
}

.skill-c {
	height: 1.06em;
	margin-right: 25%;
}

.skill-progress-sqlmips {
	margin-top: 1.06em;
}

.skill-sql {
	height: 1.06em;
	margin-right: 30%;
}

.skill-branch-web {
	padding-top: 2em;
	font-family: "Avenir Next", Helvetica, "Times New Roman", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	text-align: center;
	font-size: 1.45em;
	font-weight: 450;
}

.skill-progress-html {
	margin-top: -4.9em;
}

.skill-html {
	height: 1.06em;
	margin-right: 50%;
}

.skill-progress-CSS {
	margin-top: 1.06em;
}

.skill-CSS {
	height: 1.06em;
	margin-right: 50%;
}

/* Frameworks */
.skill-branch-fram {
	padding-top: 2em;
	font-family: "Avenir Next", Helvetica, "Times New Roman", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	text-align: center;
	font-size: 1.45em;
	font-weight: 450;
}


.skill-progress-javafx {
	margin-top: -4.9em;
}

.skill-javafx {
	height: 1.06em;
	margin-right: 15%;
}

.skill-progress-openGL {
	margin-top: 1.06em;
}

.skill-openGL {
	height: 1.06em;
	margin-right: 50%;
}

/* Language */
.skill-branch-lang {
	padding-top: 2em;
	color: #ff9e4d;
	font-family: "Avenir Next", Helvetica, "Times New Roman", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	text-align: center;
	font-size: 1.45em;
	font-weight: 450;
}

.skill-progress-mand {
	margin-top: -4.9em;
}

.skill-mand {
	height: 1.06em;
	margin-right: 0%;
}

.skill-progress-eng {
	margin-top: 1.06em;
}

.skill-eng {
	height: 1.06em;
	margin-right: 10%;
}

.skill-progress {
	margin-left: 33%;
	margin-right: 25%;
	background-color: rgba(0, 0, 0, 0.25);
	height: 1.06em;
	top: 0;
}

.skill-style {
	background-color: #ff9e4d;
	text-align: center;
	color: white;
	font-weight: normal;
	font-family: "Courier", "Avenir Next", Helvetica, "Times New Roman", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	align-content: center;
}

.skill-style-web {
	background-color: #8C7CF2;
	text-align: center;
	color: white;
	font-weight: normal;
	font-family: "Courier", "Avenir Next", Helvetica, "Times New Roman", "Franklin Gothic Bold", "Arial Black", "sans-serif";
}

.skill-style-fram {
	background-color: #6ECCEA;
	text-align: center;
	color: white;
	font-weight: normal;
	font-family: "Courier", "Avenir Next", Helvetica, "Times New Roman", "Franklin Gothic Bold", "Arial Black", "sans-serif";
}

.skill-style-lang {
	background-color: #D1C1B2;
	text-align: center;
	color: white;
	font-weight: normal;
	font-family: "Courier", "Avenir Next", Helvetica, "Times New Roman", "Franklin Gothic Bold", "Arial Black", "sans-serif";
}

/* Project */
.projectRow {
	position: absolute;
	/*background-color: rgba(43,104, 178, 1.00);*/
	/*background: linear-gradient(to bottom right, #71b280, #134e5e);*/
	background: linear-gradient(to left top, #136a8a, #267871);
	width: 100%;
	height: 700px;
	left: 0;
	margin-top: 2150px;
	margin-bottom: 0;
	top: 0;
}

.project-title {
	font-family: Helvetica, "Times New Roman", "Avenir Next", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 2em;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: snow;
	margin-bottom: 100px;
}

.project-container-metro {
	padding: 0em 2em 1em 2em;
	border-left: 4px solid #00E5FF;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: -2em;
}

.project-head-metro {
	padding-top: 1.4em;
	text-align: left;
	font-family: Helvetica, "Times New Roman", "Avenir Next", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 1.5em;
	font-weight: 600;
	color: white;
}

.project-desc-metro {
	font-family: Helvetica, "Times New Roman", "Avenir Next", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 1em;
	line-height: 1.4;
	color: whitesmoke;
	text-align: left;
	padding-left: 0px;
}

.project-icon-metro {
	text-align: left;
	font-size: 2em;
	padding-bottom: 0.45em;
	cursor: pointer;
}

.project-container-scrimish {
	padding: 0em 2em 1em 2em;
	border-right: 4px solid #FFAB00;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 70px;
}

.project-head-scrimish {
	padding-top: 1.4em;
	text-align: right;
	font-family: Helvetica, "Times New Roman", "Avenir Next", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 1.5em;
	font-weight: 600;
	color: white;
}

.project-desc-scrimish {
	font-family: Helvetica, "Times New Roman", "Avenir Next", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 1em;
	line-height: 1.4;
	color: whitesmoke;
	text-align: right;
	padding-left: 0px;
}

.project-icon-scrimish {
	text-align: right;
	font-size: 2em;
	padding-bottom: 0.45em;
	cursor: pointer;
}

/* Contact */
.contactRow {
	position: absolute;
	background-color: rgba(40,40,40,1.00);
	width: 100%;
	height: 220px;
	left: 0;
	top: 0;
	margin-top: 2850px;
	margin-bottom: 0;
	margin-left: 0%;
}

.contact-title {
	color: white;
	left:0; 
	font-family: Helvetica, "Times New Roman", "Avenir Next";
	font-size: 2em;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}

.contact-email {
	color: whitesmoke;
	left: 0; 
	width: 100%;
	font-family: Helvetica, "Times New Roman", "Avenir Next";
	font-size: 1em;
	font-style: normal;
	text-align: center;
	letter-spacing: 0.8px;
	margin-bottom: 0;
}

.social-media {
	left: 0;
	width: 100%;
	letter-spacing: 5px;
	text-align: center;
	font-size: 2em;
	padding: 0;
	margin: 0;
}

.copyright {
	position: absolute;
	left: 0;
	width: 100%;
	font-family: Helvetica, "Avenir Next", "Times New Roman";
	font-size: 0.79em;
	color: lightgray;
	text-align: center;
	margin-top: 3070px;
	margin-bottom: 0;
	top: 0;
	padding: 0;
	letter-spacing: 1px;
}
