@charset "UTF-8";

body {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom right, rgb(108, 160, 220), rgb(161, 202, 241), rgb(188, 212, 230)); 	
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.line1 {
	text-align: center;
	color: white;
	margin-top: 100px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 40px;
}
.line2 {
	text-align: center;
	color: white;
	margin-top: 0px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 40px;
	position: relative;
}
